@{
    ViewBag.Title = "Home Page";
}

<div role="banner" class="container">

    <section id="login">
        @Html.Partial("_LoginPartial")
    </section>

</div>

<div class="ui-widget-header">

</div>
