

@if (Request.IsAuthenticated) {
    <text>
        ¡Hola, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Administrar" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
        }
    </text>
} else {

    <div class="row">
        <div class="col-md-1" style="margin-left: -37px;">
            <img class="imgFront" src="~/Images/perry.png" />
        </div>
        <div class="col-md-8 iniciar">
            <form action="https://twitter.com/sessions" class="t1-form signin" style="padding-right: 150px;" method="post">
                <div class="form-group">
                    <input type="text" id="signin-email" class="form-control email-input" name="session[username_or_email]" autocomplete="on" placeholder="Teléfono, correo o usuario">
                </div>
                <div class="form-group">
                    <input type="password" id="signin-password" class="form-control" name="session[password]" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="width:100%">
                        Iniciar sesión
                    </button>
                </div>
                <div class="remember-forgot form-group" style="text-align: center">
                    <label class="t1-label remember">
                        <input type="checkbox" value="1" name="remember_me" checked="checked">
                        <span>Recordar mis datos</span>
                    </label>
                    <span class="separator">·</span>
                    <a class="forgot" href="/account/begin_password_reset">¿Olvidaste tu contraseña?</a>
                </div>
                <input type="hidden" name="return_to_ssl" value="true">
                <input type="hidden" name="scribe_log">
                <input type="hidden" name="redirect_after_login" value="/">
                <input type="hidden" value="0bef4ca99a1014986dbe7969e1bb1daa8b69eaf7" name="authenticity_token">
            </form>
        </div>
        <div class="col-md-8 registrar">
            <h2 style="width: 65%;"><i>¿Aún no eres un Snooper?</i></h2>
            <form class="float-right" style="padding-right: 150px; width: 100%;">
                <div class="form-group">
                    <input type="text" class="form-control" autocomplete="off" name="user[name]" maxlength="20" placeholder="Nombre completo">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control email-input" autocomplete="off" name="user[email]" placeholder="Correo electrónico">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="user[user_password]" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style=" width: 100%;">
                        Regístrate en Snooping
                    </button>
                </div>
            </form>
        </div>
    </div>
}
